# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:2.7-buster

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            # TODO can one file define dependencies? It's a bit of a mishmash between setuptools and pip right now.
            # Or we need to make our own docker image, with libimobiledevice and so on.
            - v1-dependencies-{{ checksum "setup.py" }}{{ checksum "dev/requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            dev/setup.sh

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.py" }}{{ checksum "dev/requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            ./run_tests.sh

      - store_artifacts:
          path: test-reports
          destination: test-reports
